<div class="sb__row">
  <div class="contestant">
    {{ name }}
  </div>
  <div class="score-container">
    <div class="bar"></div>
    <div class="count">{{ count }}</div>
  </div>
  <div class="score-incrementer">
    <button id="add-count">Add score</button>
    <button id="subtract-count">Subtract score</button>
  </div>
</div>
